* {
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primary-btn {
	padding: 20px 26px;
	color: #fff;
	background-color: #f15b22;
	border-radius: 5px;
	border: 0;
	font-weight: 600;
}

/* header section */

.banner {
	background-image: url(../images/banner/banner1.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 216px 200px 364px 845px;
	text-align: right;
}
.banner-title h1 {
	font-weight: 700;
	font-size: 65px;
	line-height: 76px;
	margin-bottom: 10px;
}
.banner-description p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
}

/* failure section */

.container {
	margin: 0 200px;
}
.failure,
.success {
	display: flex;
	align-items: center;
	gap: 87px;
}

.failure-description,
.success-description {
	margin-top: 100px;
}
.failure-title h3,
.success-title h3 {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 24px;
}
.failure-info p,
.failure ul li,
.success-info p,
.success ul li {
	font-size: 16px;
	color: #444343;
	margin-bottom: 10px;
}

/* plan section */

.my-plans {
	margin-top: 130px;
	text-align: center;
}
.my-plans h1 {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 40px;
}
.plans {
	display: flex;
	justify-content: space-between;
}
.plan-title h4 {
	font-weight: 700;
	font-size: 30px;
	margin: 15px;
}
.plant-info p {
	font-weight: 500;
	font-size: 25px;
	color: #737272;
}

/* mindset section */

.mindset {
	margin-top: 130px;
	width: 100%;
}
.mindset-image {
	width: 100%;
	background-image: url(../images/gradient1.png), url(../images/watch.png);
	background-size: contain, cover;
	background-repeat: no-repeat;
}
.mindset-title h3 {
	font-weight: 700;
	font-size: 40px;
	padding: 50px 0 20px 60px;
	color: #fff;
}
.secondary-btn {
	padding: 20px 26px;
	color: #f15b22;
	background-color: #fff;
	border-radius: 5px;
	border: 0;
	font-weight: 600;
	margin-left: 60px;
	margin-bottom: 50px;
}

/* footer section */

.footer {
	margin-top: 130px;
	background-color: #151414;
	color: #fff;
}
.footer-content {
	padding: 100px 200px;
	display: flex;
	gap: 330px;
}
.future-title h2 {
	font-weight: 700;
	font-size: 45px;
	padding: 16px 0;
}
.future-description p {
	padding: 14px 0;
}
.future-icons img {
	padding-top: 10px;
	padding-right: 10px;
}
.subscribe h3 {
	font-weight: 600;
	font-size: 25px;
	padding: 10px 0;
}
input[type='email'] {
	padding: 15px 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
	font-weight: 600;
	width: 325px;
}

.footer .secondary-btn {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
}
